{% extends 'biznew/base.html' %}
{% block content %}
    <!-- Contact Start -->
    <div class="container-fluid mt-5 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Contact Us For Any Queries</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4 mb-3">
                        <div class="mb-4">
                            <div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-map-marker-alt text-primary mr-2"></i>
                                    <h6 class="font-weight-bold mb-0">Our Office</h6>
                                </div>
                                <p class="m-0">123 Street, New York, USA</p>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-envelope-open text-primary mr-2"></i>
                                    <h6 class="font-weight-bold mb-0">Email Us</h6>
                                </div>
                                <p class="m-0">info@example.com</p>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-phone-alt text-primary mr-2"></i>
                                    <h6 class="font-weight-bold mb-0">Call Us</h6>
                                </div>
                                <p class="m-0">+012 345 6789</p>
                            </div>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                                     role="alert">
                                    <strong>{{ message }}</strong>
                                    {% if form.error and form.non_field_errors %}
                                        {{
                                        form.non_field_errors }}
                                    {% endif %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <h6 class="text-uppercase font-weight-bold mb-3">Contact Us</h6>
                        <form action="" method="post" id="contactForm">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text"
                                               name="name"
                                               id="name"
                                               class="form-control p-4"
                                               placeholder="Your Name"
                                               required="required"/>
                                        {{ form.name.errors }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email"
                                               name="email"
                                               id="email"
                                               class="form-control p-4"
                                               placeholder="Your Email"
                                               required="required"/>
                                        {{ form.email.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       name="subject"
                                       id="subject"
                                       class="form-control p-4"
                                       placeholder="Subject"
                                       required="required"/>
                                {{ form.subject.errors }}
                            </div>
                            <div class="form-group">
                                <textarea class="form-control"
                                          name="message"
                                          id="message"
                                          rows="4"
                                          placeholder="Message"
                                          required="required"></textarea>
                                {{ form.message.errors }}
                            </div>
                            <div>
                                <button class="btn btn-primary font-weight-semi-bold px-4"
                                        style="height: 50px"
                                        type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock content %}
