<!-- Featured News Slider Start -->
<div class="container-fluid pt-5 mb-3">{% include "biznew/main/trending/featured_news.html" %}</div>
<!-- Featured News Slider End -->
<!-- News With Sidebar Start -->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      {% include "biznew/main/trending/latestnews.html" %}
      <div class="col-lg-4">
        {% include "biznew/main/trending/popular.html" %}
        {% include "biznew/main/trending/newsletter.html" %}
        {% include "biznew/main/trending/tags.html" %}
      </div>
    </div>
  </div>
</div>
<!-- News With Sidebar End -->
