{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BIZNEWS</title>
    <link href="{% static 'news_admin/css/bootstrap.min.css' %}"
          rel="stylesheet"/>
    <link rel="shortcut icon"
          href="{% static "news_admin/img/BN.png" %}"
          type="image/x-icon">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="{% static 'news_admin/css/blog.css' %}" />
  </head>
  <body>
    <div class="page-header">
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="top-menu" title="Logout">
          <span class="material-symbols-outlined lg-icons">logout</span>
        </a>
        <a href="{% url 'category-create' %}" class="top-menu" title="Category">
          <span class="material-symbols-outlined lg-icons">category</span>
        </a>
        <a href="{% url 'tag-create' %}" class="top-menu" title="Tag">
          <span class="material-symbols-outlined lg-icons">sell</span>
        </a>
        <a href="{% url 'post-create' %}" class="top-menu" title="add_box">
          <span class="material-symbols-outlined lg-icons">add_box</span>
        </a>
        <a href="{% url 'draft-list' %}" class="top-menu" title="edit_note">
          <span class="material-symbols-outlined lg-icons">edit_note</span>
        </a>
      {% else %}
        <a href="{% url 'login' %}" class="top-menu" title="Login">
          <span class="material-symbols-outlined lg-icons">login</span>
        </a>
      {% endif %}
      <h1>
        <a href="/">
          <img src="{% static "news_admin/img/BN.png" %}" alt="BIZNEWS" width="90px">
          BIZNEWS
        </a>
      </h1>
    </div>
    <div class="container content">
      <div class="row m-4">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    <script src="{% static 'news_admin/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
