{% extends "news_admin/base.html" %}
{% block content %}
  <div class="post my-4">
    <div class="mb-4">
      <h1>
        <a href="{% url 'tag-detail' tag.pk %}">{{ tag.name }}</a>
      </h1>
      <a href="{% url 'tag-update' tag.pk %}" class="btn btn-primary">
        <span class="material-symbols-outlined">edit</span>
      </a>
      <a href="{% url 'tag-delete' tag.pk %}" class="btn btn-danger">
        <span class="material-symbols-outlined">delete</span>
      </a>
    </div>
    <div class="post-tags">
      <div class="col">
        <span class="date">Tags:</span>
        {% for tag in post.tag.all %}
          <a href="{% url 'post-by-tag' tag.pk %}">
            <button type="button" class="btn btn-warning">
              {{ tag.name }}
              <span class="badge text-bg-primary">{{ tag.post_set.all.count }}</span>
            </button>
          </a>
        {% endfor %}
      </div>
      <div>
        <span style="padding-right: 15px;">{{ post.views_count }} views</span>
        <button type="button" class="btn btn-success btn-lg">{{ post.category }}</button>
      </div>
    </div>
    <div style="padding: 1rem;">
      {% if post.featured_image %}
        <img src="{{ post.featured_image.url }}"
             alt="{{ post.title }}"
             height="50px"
             class="img-fluid img-responsive img-thumbnail">
      {% endif %}
    </div>
    <p align="justify">{{ post.content | linebreaks | safe }}</p>
  </div>
{% endblock content %}
