{% load static %}
<!-- Comment List Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">{{ post.latest_comments.count }} Comments</h4>
    </div>
    <div class="bg-white border border-top-0 p-4">
        {% for comment in post.latest_comments %}
            <div class="media mb-4">
                <img src="{% static "img/login.jpg" %}"
                     alt="Image"
                     class="img-fluid mr-3 mt-1"
                     style="width: 45px"/>
                <div class="media-body">
                    <h6>
                        <a class="text-secondary font-weight-bold" href="">{{ comment.name }}</a
                            >
                            <small><i>{{ comment.created_at }}</i></small>
                        </h6>
                        <p>{{ comment }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Comment List End -->
